<div>
	<form action="/" method="get">
		<input type="submit" value="Home">	
	</form>

	<form action="/sessions" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="LogOut">	
	</form>

	<form action="/entries" method="get">
		<input type="submit" value="Entries">	
	</form>

</div>