<div>

  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li>
      <form action="/sessions" method="post">
	  	  <input type="hidden" name="_method" value="delete">
	  	  <input type="submit" value="LogOut">	
  	  </form>
    </li>
  </ul>
  <p class="user">You are currently signed in as <%=@current_user.username%></p>


</div>