<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kar who codes</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home_styles.css">
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<script src='/javascripts/jquery.js'></script>
  	<script src='/javascripts/scripts.js'></script>

</head>
<body>
	<p>kar who codes</p>
	<div class="homepage">

	  <center>
		<ul>
		  <li><div class="circle homelink1"><a href="/users/new">Sign Up</a></div></li>
		  <li><div class="circle homelink2"><a href="/sessions/new">Log In</a></div></li>
		  <li><div class="circle homelink3"><a href="/aboutme">About Me</a></div></li>
		  <li><div class="circle me"></a></div></li>
		 </ul>
	  </center>
	</div>


</body>
</html>

