<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kar who codes</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/home_styles.css">
</head>
<body>

	<center>
		<div class="homepage">
		  <ul>
		    <li><div class="circle homelink1"><a href="/users/new">Sign Up</a></div></li>
		    <li><div class="circle homelink2"><a href="/sessions/new">Log In</a></div></li>
		    <li><div class="circle homelink3"><a href="/aboutme">About Me</a></div></li>
		  </ul>
		</div>
	</center>

</body>
</html>

