<h1>Edit Your Entry</h1>

<form action = '/entries/<%=@entry.id%>}' name="method" method="post">
  <input type ="hidden" name="_method" value="patch"/>
  <p>Header:</p><input type ="text" name="entry[header]" value="<%=@entry.header%>"/></textarea>
  <p>Post:</p><input type ="text" name="entry[post]" value="<%=@entry.post%>"/>
  <input type ="submit" value="Submit">
</form>	