<h1>All Entries</h1>

<p><a class="nav" href="/entries/new">Add new entry?</a></p><br>

<center>
  <%@sorted_entries.each do |entry| %>
	<div class="blog_post"> 

	  	<div class="photo">
	  	  <img src ="<%=entry.photo_link%>" width="150px" height="125px">
	    </div>

	    <div class="entry_content">
	  	  <a href="/entries/<%=entry.id%>"><%=entry.header%></a>
	    </div>
	</div>
	
  <%end%>
<center>
