<h1>Add New Entry</h1>
<form action = '/entries' name="method" method="post">
  <p class="picture">Photo:</p><textarea rows="1" cols="50" name="entry[photo_link]" placeholder="Add photo here..."/></textarea>
  <p class="header">Header:</p><textarea rows="25" cols="50" name="entry[header]" placeholder="Add header here..."/>
  <p class="post">Post:</p><input type ="text" name="entry[post]" placeholder="Write entry here..."/>
  <input type ="submit" value="Submit">
</form>	
