<h1>Add New Entry</h1>

<form action = '/entries' name="method" method="post">
  <p>Header:</p><input type ="text" name="entry[header]" placeholder="Add header here..."/>
  <p>Post:</p><input type ="text" name="entry[post]" placeholder="Write entry here..."/>
  <input type ="submit" value="Submit">
</form>		