.entries-everything {
	height: auto;
	width: 800px;
	padding: 15px;
	margin: 60px auto;
	border: 1px solid lightgray;

}
.current-entry {

	min-height: 500px;
	height: auto;
	width: 515px;
	padding: 15px;
	margin: 15px 15px 0 0;
	border: solid 1px silver;
	float:left;
	text-align: left;
}


.all-entries {
	background-image: url('/images/tree_bark.png');
	min-height: 500px;
	height: auto;
	width: 200px;
	padding: 15px;
	margin: 15px 0 0 0;
	border: solid 1px lightgray;
	float: left;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




/*blog index*/




.blog_post {
	display: inline-table;
	width:125px;
	height:160px;
	border: 1px solid #52CC7A;
	margin: 10px;
	padding: 5px 5px 5px 5px;
	border-radius: 15px 0 15px 0;
}

.photo {
	width:125px;
	height:100px;
	background-size: auto;
	background-color: white;
	padding: 5px;
	border-radius: 15px 0 0 0;
}

.entry_content {
	width:125px;
	height:60px;
	background-color: white;
	font-size: 13px;
	padding: 5px;
	text-decoration: none;
	border-radius: 0 0 15px 0;
	margin-top: -5px;
}

.current-photo {
	height: 300;
	width: auto;
	margin: 10px 15px 10px 0;
}

.tag {
	background-color: green;
	border: none;
}