body {
	background: white;
	font-family: 'Comfortaa', cursive;
}

p {
	float: left;
	text-align: right;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: 10px;
	color: #52CC7A;
	font-size: 40px;
}

.homepage {
	background-image: url('/images/tree_bark.png');
	height: 300px;
	margin-top: 150px;
}

li {
	display: inline-block;
	vertical-align: middle;
	margin-top: 40px;
}

a {
	color: white;
	text-decoration: none; 
	font-size: 20px;
}

.circle {
	color: white;
	border-radius: 50%;
	width: 175px;
	height: 175px;
	text-align: center;
	line-height: 175px;
	border: solid 10px #FDF9F5;
}

.homelink1 {
	background-color: #000066;
}

.homelink2 {
	background-color: #52CC7A;
}

.homelink3 {
	background-color: #FF9966;
}

.me {
	background-image: url('/images/profilepicture.jpg');
	background-position: center;
}

/*div nav*/

.nav {
	background-color: white;
	background-size: 20px;
	height: 20px;
	width: 100px;
}
