body {
	background-color: white;
	font-family: 'Comfortaa', cursive;
}

/*content*/

.wrapper {
	background-image: url('/images/upfeathers.png');
	min-height: 300px;
	height: auto;
	width: 800px;
	padding: 15px;
	margin: 60px auto;
	border: solid 5px #FDF9F5;
}

/*navigation*/

.nav {
	text-align: right;
}

.nav li {
	display: inline-block;
}

.nav a {
	text-decoration: none;
	background-color: #52CC7A;
	color: white;
	padding: 10px 20px;
	border-radius: 20px 0 20px 0;
}

.nav input {
	display: inline;
	text-decoration: none;
	background-color: #52CC7A;
	color: white;
	padding: 10px 20px;
	border: 0;
	font-size: 16px;
	border-radius: 20px 0 20px 0;
	font-family: 'Comfortaa', cursive;
}

.user {
	font-size: 12px;
	color: gray;
}

/*blog index*/

.blog_post {
	display: inline-table;
	width:150px;
	height:200px;
	border: 1px solid tan;
	margin: 0 5px;
	padding: 5px;
}

.photo {
	width:150px;
	height:125px;
	background-size: auto;
	background-color: black;
	padding: 5px;
}


.entry_content {
	width:150px;
	height:75px;
	background-color: white;
	font-size: 15px;
	padding: 5px;
	text-decoration: none;
}


/*entries*/

.header {
	text-decoration: bold;
	font-size: 18px;
	color: green;
}

.post {
	text-decoration: bold;
	font-size: 18px;
	color: green;
}

.picture {
	text-decoration: bold;
	font-size: 18px;
	color: green;
}

.header_area {
	width: 500px;
	height: 2em;
	vertical-align: top;
	overflow: auto;
}

.post_area {
	width: 500px;
	height: 30em;
	vertical-align: top;
	overflow: auto;
}

.errors {
	color: gray;
	font-size: 10px;
}