

<p>My name is Karynn and I’m a tiny, twenty something New Yorker. I'm currently a student in General Assembly's Web Development Immersive program, being taught the ways of the developer world.</p>

<p>I sometimes view life through thick-framed glasses or a Nikon lens, but almost always with the hope of finding beauty in the unexpected - not excluding code! I’m a versatile foodie who’s feasted on Michelin star meals to termites off a rainforest tree – and who also loves good cup of coffee, a glass of Beaujolais or a dark stout, depending on my mood and/or company. I travel to discover, not to relax. I’m an Aquarius, born in the Year of the Rat and an ENFJ. My funny hubby and zany family are the center of my world.</p>

<a href="https://www.linkedin.com/in/karynnelio">LinkedIn</a><br>

<a href="mailto:karynn.tran@gmail.com">Email Me!</a>