

<p>My name is Karynn and I’m a tiny, twenty something New Yorker. I'm an Aquarius, born in the Year of the Rat and an ENFJ.  I'm currently a student in General Assembly's Web Development Immersive program, being taught the ways of the developer world.</p>


<a href="https://www.linkedin.com/in/karynnelio">LinkedIn</a><br>

<a href="mailto:karynn.tran@gmail.com">Email Me!</a>